/* Main section styling */
.projects-section {
  position: relative;
  padding: 80px 100px;
  background-color: #ffff;
  font-family: "Manrope", sans-serif;
  overflow: hidden;
}
.bg-icon-1 {
  position: absolute;
  top: 50px;
  left: 50px;
  opacity: 0.8;
  z-index: 0;
}

.bg-icon-2 {
  position: absolute;
  top: 50px;
  right: 50px;
  opacity: 0.8;
  z-index: 0;
}
/* Header and title styling */
.projects-header {
  text-align: center;
  max-width: 800px;
  margin: 0 auto 60px auto;
}

.project-title h3 {
  font-size: 36px;
  font-weight: 700;
  color: #131316;
  margin-bottom: 20px;
}

.project-title p {
  font-size: 16px;
  line-height: 1.6;
  color: #666;
}

/* Grid layout for project cards */
.projects-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns for desktop */
  gap: 30px;
  margin-bottom: 40px;
}

/* Styling for individual project cards */
.project-card {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
  padding: 20px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.project-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.1);
}

.project-image {
  margin-bottom: 15px;
  border-radius: 5px;
  overflow: hidden;
}

.project-image img {
  width: 100%;
  height: auto;
  display: block;
}

.project-card h4 {
  font-size: 20px;
  font-weight: 600;
  color: #131316;
  margin-bottom: 5px;
}

.project-card p {
  font-size: 14px;
  color: #666;
}

.more-details-btn-container {
  text-align: center;
}

.more-details-btn {
  background-color: #1f1f1f;
  color: #fff;
  padding: 12px 30px;
  border: none;
  border-radius: 15px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}

.more-details-btn:hover {
  background-color: #333;
}

/* Background icon styling */
.bg-icon-1 {
  position: absolute;
  top: 50px;
  left: 50px;

  z-index: 0;
}

.bg-icon-2 {
  position: absolute;
  top: 60px;
  right: 100px;
  z-index: 0;
}

/* Responsive adjustments */
@media (max-width: 992px) {
  .projects-section {
    padding: 60px 40px;
  }

  .projects-container {
    grid-template-columns: repeat(2, 1fr); /* 2 columns for tablets */
  }
}

@media (max-width: 768px) {
  .projects-section {
    padding: 40px 20px;
  }

  .projects-container {
    grid-template-columns: 1fr; /* 1 column for mobile */
  }
}
