@import "tailwindcss";

ul {
  list-style: disc;
}

ol {
  list-style: upper-roman;
}

.blog-content {
  line-height: 1.8;
  font-size: 16px;
}

.blog-content p {
  margin-bottom: 16px;
}

.blog-content h2,
.blog-content h3,
.blog-content h4 {
  margin-top: 28px;
  margin-bottom: 12px;
}

.blog-content ul {
  margin-left: 24px;
  margin-bottom: 16px;
}

.blog-content li {
  margin-bottom: 8px;
}
